

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px 0;
}
.text-buton-rosu{
    color : red
    }            
    
.astea-intre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.poza {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center; ;
}
#schimba-tema {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 10px;
}

#schimba-tema:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


.menu button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.menu button:hover {
    background: #007bff;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
    transform: translateY(-2px);
}
.tabel {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
 
}

.tabel table {
    width: 100%;
    border-collapse: collapse;
}

.tabel th, .tabel td {
    padding: 12px 15px;
    text-align: left;
}

.tabel thead {
    background-color: #007bff;
    color: #fff;
}

.tabel tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.tabel tbody tr:hover {
    background-color: #e9ecef;
}

.tabel th {
    font-weight: 600;
}

.tabel td {
    font-weight: 400;
}
.atributemessi {
    list-style-type: none; 
    padding: 0; 
    margin: 50px 0;
    font-family: "Poppins", sans-serif; 
    font-size: 18px; 
    color: #333; 
}

.atributemessi li {
    background-color: #f8f9fa; 
    padding: 10px 15px; 
    margin-bottom: 10px;
    border-radius: 5px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease-in-out;
}

.atributemessi li:hover {
    background-color: #007bff; 
    color: #fff;
    cursor: pointer; 
}
.atributemessi li a {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode .container, 
body.light-mode .poza, 
body.light-mode .capabilities li {
    background-color: #f8f9fa;
}


body.dark-mode .menu button {
    color: #ffffff;
}

body.dark-mode .menu button:hover {
    background: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 86, 179, 0.3);
}



body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .container, 
body.dark-mode .poza, 
body.dark-mode .atributemessi li {
    background-color: #1e1e1e;
}

body.dark-mode .menu span {
    color: #ffffff;
}

body.dark-mode .container menu{
    color: #ffffff;
}


body.dark-mode .menu span:hover {
    background: #0056b3;
    box-shadow: 0px 4px 8px rgba(0, 86, 179, 0.3);
}

body.dark-mode .tabel thead {
    background-color: #0056b3;
}

body.dark-mode .tabel tbody tr:nth-child(even) {
    background-color: #2c2c2c;
}

body.dark-mode .tabel tbody tr:hover {
    background-color: #007bff;
}

body.dark-mode .pozatext{
    color: #ffffff;
}
body.dark-mode .abilitatidarksasevadahoveru {
        color: #ffffff;}

 body.dark-mode .abilitatidarksasevadahoveru:hover {
            color:  #007bff;}

 body.dark-mode .pozatext.text-buton-rosu {
                color: red !important;
            }



